{% extends 'base.html.twig' %}

{% block title %}New Patient{% endblock %}

{% block content %}
    <h1>Create new Patient</h1>
    {{ include('patient/_form.html.twig') }}
    {% block button %}
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-start mx-5">
                         <a href="{{ path('patient_index') }}">    <i class="bi bi-skip-backward-fill"> </i>Retour</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
